<html>
<!-- Head tag -->
<%- partial('_partial/head') %>

<body>
    <!-- Header -->
    <%- partial('_partial/header') %>

    <section class="tsw-main">
        <!-- Side bar -->
        <%- partial('_partial/side-bar') %>

        <%- body %>
    </section>

    <!-- After footer scripts -->
    <%- partial('_partial/after-footer') %>
</body>
</html>